@import url('https://fonts.googleapis.com/css2?family=Esteban&family=Jacquard+12+Charted&family=Noto+Sans+KR:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Esteban&family=Jacquard+12+Charted&family=Noto+Sans+KR:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: Arial, sans-serif;
  background-color: #E8DFCA;
  color: #1A4D2E;
  margin: 0;
  padding: 0;
}

.headliner {
  background-color: #F5EFE6;
}

header {
  background-color: #382315;
  padding: 20px;
  display: flex;
  /* text-align: right; */
}

nav a {
  color: #E8DFCA;
  text-decoration: none;
  margin-right: 20px;
}

nav a:hover {
  text-decoration: underline;
}

section {
  padding: 20px;
}

footer{
  background: #F5EFE6;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.footer-container{
  width: 1140px;
  margin:auto;
  display: flex;
  justify-content: center;
}

.footer-content{
  width: 35%;
}
h4{
  font-size: 20px;
  margin-bottom: 15px;
  text-align: center;
}
.footer-content p{
  width: 190px;
  margin: auto;
  padding: 7px;
}
.footer-content ul{
  text-align: center;
}
.list{
  padding: 0;
}
.list li{
  width: auto;
  text-align: center;
  list-style-type: none;
  padding: 7px;
  position: relative;
}
.list li::before{
  content: "";
  position: absolute;
  transform: translate(-50%,-50%);
  left: 50%;
  top: 100%;
  width: 0;
  height: 2px;
  background: #AB8E73;
  transition-duration: .5s;
}
.list li:hover::before{
  width: 70px;
}
.social-icons{
  text-align: center;
  padding: 10px;
  margin: 5px;
}
.social-icons li{
  display: inline-block;
  text-align: center;
  padding: 5px;
  border: 1px solid #AB8E73;
}
.social-icons i{
  color: #AB8E73;
  font-size: 25px;
}
a{
  text-decoration:none;
}
a:hover{
  color: #AB8E73;
}
.social-icons i:hover{
  color: #AB8E73;
}
  
.bottom-bar{
  background-color: #382315;
  padding: 1rem; 
  color: #E8DFCA;
  position: relative; 
  bottom: 0px;
  left: 0px;
  padding-top: 20px;
  width: 100%;
  text-align: center;
}

.line{
  display: block;
  width: 1300px;
  align-items: center;
  border: 2px solid #1A4D2E;
  margin-top: 50px;
}

h1, h2, h3 {
  color: #1A4D2E;
  text-align: center;
}

p {
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
}

.wrapper{
  display: flex;
  flex: 1;
  width: 100%;
  justify-content: space-around;
}

.card{
  width: 280px;
  height: 360px;
  padding: 2rem 1rem;
  position: relative;
  display: flex;
  align-items: flex-end;
  box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
  border-radius: 25px;
  background-position: left top;
  background-repeat: repeat;
  padding: 20px;
}

.card:hover:before{
  opacity: 1;
}

.card img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  border-radius: 25px;
  top: 0;
  left: 0;
}

.card .info{
  position: relative;
  z-index: 3;
  color: black;
  opacity: 0;
  transform: translateY(30px);
  transition: 0.5s all;
}

.card:hover .info{
  opacity: 1;
  transform: translateY(opx);
}

.card .info p{
  letter-spacing: 1px;
  font-size: 13px;
  margin-top: 8px;
  margin-bottom: 20px;
  text-align: center;
}

h5{
  text-align: center;
  font-family: "Raleway", sans-serif;
}

.logo{
  width: 40px;
  height: auto;
  border-radius: 50px;
  margin-left: auto;
  display: block;
}

.col{
  float: left;
  padding: 5px;
}