body {
  font-family: Arial, sans-serif;
  background-color: #F5EFE6;
  color: #1A4D2E;
  margin: 0;
  padding: 0;

}

header {
  background-color: #382315;
  padding: 20px;
  display: flex;
  /* text-align: right; */
}

.navbar{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 100px;
  position: relative;
}
.navbar .logo img{
  width: 200px;
  position: relative;
}
.navbar .menu{
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar .menu ul{
  display: flex;
  list-style: none;
}
.navbar .menu ul a{
  text-decoration: none;
  text-transform: uppercase;
  color: #E8DFCA;
  padding: 0px 20px;
  font-size: 18px;
}
.navbar .menu ul a:hover{
  color:#AB8E73;
  transition: 0.5s ease;
}

section {
  padding: 20px;
}

.introduction {
  background-color: #E8DFCA;
  text-align: justify;
}

.time-management-causes,
.consequences,
.prevention 
.summary {
  margin-top: 20px;
  background-color: #F5EFE6;
}

.summary p{
  text-align: justify;
}

.vidpost {
  margin-top: 20px;
  background-color: #AB8E73;
  position: relative;
}

.item{
  text-align: justify;
  padding-left: 30px;
}

.item p{
  padding-left: 20px;
}

h3 {
  color: #1A4D2E;
}

h1 {
  text-align: center;
  color: #1A4D2E;
}

h2 {
  text-align: center;
  color: #1A4D2E;
}

a {
  color: #1A4D2E;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

footer {
  background-color: #382315;
  padding: 3px;
  text-align: center;
  color: #E8DFCA;
}

.vidpost iframe {
  width: 30%;
  height: 300px;
  border: none;
  margin-bottom: 50px;
  margin-left: 20px;
}

.vidpost h3{
  text-align: center;
}

*{
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

.wrapper{
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.card{
  width: 250px;
  height: 360px;
  padding: 2rem 1rem;
  position: relative;
  display: flex;
  align-items: flex-end;
  box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
  transition: 0.5s ease-in-out;
}

.card:hover{
  transform: translateY(20px);
}

.card:before{
  content: "";
  position: absolute;
  top: 0;
  left:0;
  display: block;
  width:100%;
  height:100%;
  z-index: 2;
  transition: 0.5s all;
  opacity: 0;
  background:#E8DFCA;
}

.card:hover:before{
  opacity: 1;
}

.card img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.card .info{
  position: relative;
  z-index: 3;
  color: black;
  opacity: 0;
  transform: translateY(30px);
  transition: 0.5s all;
}

.card:hover .info{
  opacity: 1;
  transform: translateY(opx);
}

.card .info p{
  letter-spacing: 1px;
  font-size: 15px;
  margin-top: 8px;
  margin-bottom: 20px;
  text-align: justify;
}

.line{
  display: block;
  width: 1300px;
  align-items: center;
  border: 2px solid #1A4D2E;
  margin-top: 50px;
}

.boxed1{
  font-size: 18px;
  width: 1010px;
  height: 60px;
  border: 1px solid #1A4D2E;
  box-sizing: border-box;
}

.boxed2{
  font-size: 18px;
  width: 570px;
  height: 60px;
  border: 1px solid #1A4D2E;
  box-sizing: border-box;
}

.boxed3{
  font-size: 18px;
  width: 710px;
  height: 60px;
  border: 1px solid #1A4D2E;
  box-sizing: border-box;
}

.boxed4{
  font-size: 18px;
  width: 660px;
  height: 60px;
  border: 1px solid #1A4D2E;
  box-sizing: border-box;
}

.boxed5{
  font-size: 18px;
  width: 1070px;
  height: 60px;
  border: 1px solid #1A4D2E;
  box-sizing: border-box;
}

h5{
  text-align: center;
  font-family: "Raleway", sans-serif;
}
